html{
    scroll-behavior: smooth;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    font-size: 16px;
}
/*Soporte*/
.disflex{
    display:flex;
}
.nav{
    z-index: 99999;
}
.relative{
    position: relative;
}
/*nav*/
nav{
    text-align: right;
    background-color: #fef2f2;
    padding: 1rem 0rem;
} 
nav button{
    width: 3.2rem;
    height: 3.2rem;
    background-color: transparent;
    border: 0;
}
nav button:hover{
    background-color: #adadad;
}
nav ul{
    margin:0;
    list-style: none;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 999;
    padding: 1rem;
    background-color: #585656;
}

nav ul li{
    padding: 0.5rem 0;
}
nav a{
    text-decoration: none;
    padding:0.5rem 0;
    color:#adadad;
}
nav a:hover{
    color:#286f6c;
}
.hidden{
    display: none;
}
header{
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    background-color:#fef2f2;
}
.title{
    grid-area: title;
}
.imagen{
    grid-area:imagen;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.grid-cont{
    display: grid;
    grid-template-rows: 9rem auto;
    grid-template-columns: 5rem auto;
    min-height: 100%;
    grid-template-areas: 
        "title title title"
        "logos imagen imagen"
        "logos imagen imagen"
    ;
}
.title h1{
    font-size: 50px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 999;
}
.logos{
    grid-area:logos;
}
.logos-cont{
    flex-wrap: wrap;
    margin: 0 0 0 1rem;
}
.littecirc{
    width: 3.5rem;
    height: 3.5rem;
    margin: 0rem 0 1.3rem 0rem;
    border-radius: 100%;
    border: 3px white solid;
    background-color: #f26440;
    border-radius: 3px solid white;
    box-sizing: border-box;
    padding: 0.4rem;
}
.littlecirc img{
    width: 100%;
    height: 100%;
}
.mujercont{
    width: 15rem;
    height: 100%;
}
.mujercont img{
    width: 100%;
    height: 100%;
}
.generalvector{
    width: 15rem;
    height: 15rem;
    position: absolute;
    left: 44%;
    top: 15rem; 
}
.generalvector img{
    width: 100%;
}
.colorgray{
    color: #adadad;
}
/**Section*/
.colorgreen{
    color:#286F6C;
}
article{
    margin: 0;
    padding: 1.5rem;
}
article h2{
    position: relative;
}
.subs{
    font-size: 32px;
}
.aboutme{
    text-align: justify;
    line-height: 1.5rem;
}
h2 span{
    color:white;
}
/**HABIlidades*/
.convectores{
    width:8.3rem;
    height: 10%;
    position: absolute;
    left: -3rem;
}
.convectores img{
    width: 100%;
}
.decocircleorange{
    width: 20%;
    border-radius: 100%;
    height: 13%;
    background-color: #f26440;
    position: absolute;
    margin-top:18% ;
}
.cont-text-hab h3{
    font-size: 20px;
}
.secciones-cont{
    height: 350px;
    margin-left: 5rem;
    overflow-x:auto;
    -webkit-overflow-scrolling: touch;
}
.cont-text-hab{
    flex: 0 0 auto;
    width: 250px;
    background-color: #FEF2F2;
    margin: 15px;
    padding: 12px;
}
.cont-text-hab h3{
    padding-bottom: 1.3rem ;
    text-align: center;
}
/**experiencia*/
.row{
    display: flex;
    flex-wrap: wrap;
}
.exp-container{
    justify-content: center;
    height: 8rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.cont-exps{
 
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  padding: 0.2rem;
  margin: 0.3rem;
  flex-wrap: wrap;
}
.cont-exps p{
    margin: 0;
    padding: 0;
    width: 100%;
}
.cont-exps img{
    width: auto;
    height: 100%;
}
.excepcion{
    padding: 0;
}
.cont-exps h3{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
.cont-exps p{
    margin-bottom: 0;
    font-weight: bold;
}
.cont-exps p span{
    font-size: 0.7rem;
}
.excepcition{
    justify-content: left;

}
.col-12{
    width:100%;
}
.col-4{
    width: 33.33%;
}
aside{
    background-color: #286f6c;
    margin-bottom: 5rem;
}
.portgeneralcont{
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0rem;
    flex-wrap: wrap;

}
.contimg{
    height: 50%;
    background-color: white;
    padding: 2.2rem;
    top:-4rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    box-shadow: inset 0px 5px rgba(51, 48, 47, 0.479);
}
.imgport-cont{
    width: 100%;
    height: 100%;
    
}
.imgport-cont img{
    width: 100%;
    height: 100%;
}
.contimg h3{
    margin-top: 0.9rem;
    margin-bottom: 0;
}
.contporttext{
    padding: 0rem;
    color: white;
    
}
.contporttext h2{
    margin-top: 0;
    margin-bottom: 0;
}
.contporttext p{
    margin-bottom: 3rem;
}
.imgport-cont2{
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 2.2rem 2.2rem 0 2.2rem;
    width: 100%;
    background-color: white;
    box-shadow: inset 0 -5px rgba(51, 48, 47, 0.479);
    top:1.3rem;
}
.imgport-cont2 img{
    width: 100%;
}
.imgport-cont2 h3{
    color:black;
    padding-bottom: 2.2rem;
    margin-top: 0.9rem;
    margin-bottom: 0;
}
footer{
    margin:0 10% 0 10%;
}
.logoscontfoot{
    justify-content: center;
}
.cont-logo-cont{
    margin: 0 2rem 0 2rem;
    width: 7.6rem;
    background-color:#F26440;
    box-sizing: border-box;
    padding: 1.3rem;
    border-radius: 100%;
    border: 3px solid white;
}
.cont-logo-cont img{
    width: 100%;
}
.contact-cont{
    justify-content: center;
}
.contact-cont > div{
    margin: 0 0.5rem 0 0.5rem;
    width: 10rem;
    text-align: center;
    padding: 0rem;
}
.vectorgray{
    width: 65%;
    position: absolute;
    left: -26%;
}
.vectorgray img{
    width:100%
}
.yupi{
    margin-top: 15vh;
    color:#F26440;
    text-align: center;
    font-weight:bold;
}

@media (min-width:768px){
    .body{
        font-size: 18px;
    }
    nav button{
        display: none;
    }
    #IdNav{
        display: block;
        text-align: right;
        background-color: transparent;
        position: static;
        
    }
    #IdNav li{
        display: inline-block;
        margin-left: 1rem;
    }
    header{
        padding: 0 6% 0 6%;
    }
    .title h1{
        font-size: 80px;
        margin-top: 6.3rem;
        padding: 0;
    }
    .grid-cont{
        display: grid;
        grid-template-rows: 26rem 8rem auto ;
        grid-template-columns: 22rem auto;
        min-height: 100%;
        grid-template-areas: 
            "title imagen imagen"
            "logos imagen imagen" 
            "logos imagen imagen"
        ;
    }
    .logos-cont{
        justify-content:space-between;
        margin-left: 0;
    }
    .imagen{
        justify-content: center;
        align-items: flex-end;
    }
    .mujercont{
        width: 22rem;
        display: flex;
        align-items: flex-end;
    }
    .mujercont img{
        width: 100%;
        height: 93%;
    }
    .littecirc{
        width: 4.2rem;
        height: 4.2rem;
    }
    .generalvector{
        width: 28%;
        height: 15rem;
        left: 60%;
        top: 10rem;
    }
    .convectores{
        left: -7.3%;
        width: 33%;
        height: 55%;
        z-index: 0;
    }
    .decocircleorange{
        width: 20%;
        border-radius: 100%;
        height: 30%;
        background-color: #f26440;
        position: absolute;
        margin-top:13% ;
    }
    article{
      margin-left: 10%;
      margin-right: 10%;
    }
    .subs{
        font-size: 40px;
    }
    /*experiencia*/
    .portgeneralcont{    
        padding-left:0;
        padding-right: 5%;
        flex-wrap: nowrap;
    }
    .contimg{
        top:-6rem;
    }
    .col-m-4{
        width: 33.33%;
    }
    .both{
        margin: 3rem;
        margin-bottom: 0;
        padding: 3rem;
    }
    .portgeneralcont{
        justify-content:center;
        padding-bottom: 0;
    }
    .imgport-cont2{
        padding: 2.2rem;
        box-sizing: content-box;
        background-color: white;
        left: 3rem;
        top: 5.9rem;
        z-index: 999;
    }
    .cont-exps img{
        width: 100%;
    }
    /*footer*/
    footer{
        padding:1.5rem;
    }
    .cont-logo-cont{
        margin: 0 4.3rem 0 4.3rem;
    }
    .contact-cont > div{
        margin: 0 3rem 0 3rem;
    }
    .vectorgray{
        width: 25%;
        height: 50%;
        left: -8%;
        margin-top: -4rem;
    }
    /**layout*/
}
@media(min-width:1034px){
    .convectores{
        left: -7.3%;
        width: 31.2%;
        height: 55%;
        z-index: 0;
    }
}
@media(min-width:1240px){
    .convectores{
        left: -7.3%;
        width: 31%;
        height: 55%;
        z-index: 0;
    }
}
@media (min-width:1350px){
    .secciones-cont{
        justify-content: flex-end;
    }
}
@media(min-width:1600px){
    .generalvector{
        width: 450px;
        
    }
    .convectores{
        width: 475px;
    }

}
